#mainDiv {
	background-color: lightgray;
	border-style: solid;
	border-color: yellow;
	width: 100%;
}

.flex-container-test {
	display: flex;
	background-color: #1faadb;
	width: 100%;
	height: 200px;
}

.flex-container-test div {
	width: 25%;
}